.outerContainer {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;
}

.content{
    height: auto;
    width: 800px;
    margin: 0 100px;
    background-color: green;
}

.container {
  min-height: 95%;
  width: 1000px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50px;
  margin: auto;
}

input {
  border-radius: 10px;
  border: 1px solid white;
  -webkit-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.34);
  -moz-box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.34);
  box-shadow: 0px 1px 4px 0px rgba(50, 50, 50, 0.34);
  padding: 10px;
  margin: 20px 100px 20px;
  width: 800px;
}

form {
  padding: 10px;
}

